@page
@model IndexModel
@{
    ViewData["Title"] = "Главная - Поиск авиабилетов";
}

<div clsas="hero-section">
    <h1>Найдите идеальный рейс</h1>

    <form method="get" asp-page="/Search">

        <div class="form-group">
            <label>Откуда</label>
            <input type="text" class="form-control" asp-for="Searchrequest.From" />
        </div>
        <div class="form-group">
            <label>Куда</label>
            <input type="text" class="form-control" asp-for="Searchrequest.To" />
        </div>
        <div class="form-group">
            <label>Дата вылета</label>
            <input type="date" class="form-control" asp-for="Searchrequest.DepartureDate" />
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 20px;">
            Найти билеты
        </button>
    </form>
</div>
